* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: .2% linear;
}

.logo{
    width: 22%;
    padding-left: 3%;
    padding-right: 2%;
}


.image{
    margin-bottom: 3%;
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 225px;
    max-height: 225px;
}

h1{
  justify-content: center;
}

h2{
    font-weight: 700;
    justify-content: center;
    text-align: center;
    padding: 2rem 0.9rem;
	  font-size: 2rem;
	  margin-bottom: 0.1rem;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Style for the navbar container */
.navbar {
    font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

/* Style for the navigation logo */
.nav-logo a {
  color: #fff; 
  text-decoration: none; 
  font-weight: bold; 
}

/* Style for the navigation items */
.nav-items ul {
  list-style-type: none; /* Remove bullet points from list */
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px; /* Adjust spacing between items */
  padding-top: 8px;
}

.nav-items ul li a {
  color: #fff; 
  text-decoration: none;
  font-weight: bold;
}

.logo-img{
  height: 30px;
}


.nav-items .logout {
  background-color: #39393b;
  padding: 8px;
  color: black;
  border-radius: 6px;
}

.card {
  width: 400px;
  background: rgb(255, 250, 235);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgba(16, 86, 82, .75);
  ;
  font-weight: 700;
  font-size: 11px;
  color: #000000;
}
.view-cart {
  
  padding: 40px;
  display: block;
  margin: 100px auto;
  padding-bottom: 30%;
  height: 500px;
  width: 60%;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.view-cart .content-table{
  align-items: center;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 600px;
}
.view-cart .content-table tbody, th, thead {
  padding: 10px 20px;
  background-color: #39393b;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.view-cart .table-bottom{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 40%;
  font-weight: bold;
  color: #ffffff;
  background-color: #39393b;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd;

}
.content-table tbody tr:nth-of-type(even){
  background-color: #7D0A0A;
  
}




.remove-btn {
  padding: 1em 0.4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7D0A0A;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7D0A0A;
}

remove-btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #4D0A0A;
  box-shadow: 4px 5px 17px -4px #7D0A0A;
}

remove-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7D0A0A;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

remove-btn:hover::before {
  width: 250%;
}
